<div id="<%= dom_id reference %>">
  <p>
    <strong>Title:</strong>
    <%= reference.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= reference.author %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= reference.year %>
  </p>

  <p>
    <strong>Label:</strong>
    
  </p>

</div>
